body {
  font-family: Arail;
  background-color: snow;
  margin: 0px 0px 0px 0px;
  width: 100vw;
  min-width: 400px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.flex-div,
.errors-div,
.success-div {
  display: none;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-div {
  /* background-color: #1ce5ff80;
  background-color: #6fedfd96; */
  background-color: #6fedfdd6;
}

.errors-div {
  background-color: #ff000080;
}

.success-div {
  background-color: #00ff0080;
}

.errors, 
.success {
  min-width: 333px;
  max-width: 333px;
  min-height: 222px;
  max-height: 222px;
  border-radius: 11px;
}

.errors {
  border: solid 3px red ;
  background-color: #ffb8b8;

  color: red;
}

.success {
  border: solid 3px green ;
  background-color: #b8ffb8;

  color: green;
}

.errors > h2, 
.success > h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 13px;
}

.more-info,
.more-info:link,
.more-info:visited,
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.titles {
  color: red;
  font-size: 50px;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.forms {
  width: 30%;
  height: 40%;
  min-width: 300px;
  max-width: 400px;
  min-height: 350px;
  max-height: 450px;
  border-radius: 44px;
  background-color: #7be3ff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.forms > h1 {
  font-style: italic;
  text-align: center;
}

a,
input,
textarea {
  outline: none;
}

.input-field {
  width: 85%;
  height: 13%;
}

.input-field > input {
  width: 100%;
  height: 100%;
  border: solid 3px #01e597;
  border-radius: 33px;
  font-size: 16px;
}

.input-field > input:hover {
  border: solid 3px #02a16a;
  background-color: #efefef;
}

.input-field > input:focus {
  outline: none;
  border: solid 3px #02a16a;
  background-color: #efefef;
}

textarea {
  border: solid 3px #01e597;
  border-radius: 3px;
  font-size: 16px;
}

.submit-button {
  width: 85%;
  height: 13%;
  background-color: #00b5e5;
  border: solid 3px #9cffdd;
  border-radius: 33px;
  font-weight: bold;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #00a5d1;
  border: solid 3px snow;
  color: snow;
}

/* Popup */
#notify {
  display: none;
  width: 160px;
  height: 40px;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 5;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bolder;
  border: solid 1px green;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  cursor: default;
}

/* Popup arrow */
#notify::after {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 7px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#notify {
  -webkit-animation: fade 0.3s;
  animation: fade 0.3s;
}

.unselectable,
h1,
h2,
a,
p,
label,
input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
