.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bulk-register {
  width: 60%;
  height: 100%;
  max-height: none;
  max-width: none;
  background-color: transparent;
  align-self: center;
}

#bulk-register > textarea {
  width: 80%;
  height: 65%;
  resize: none;
}

#bulk-register > textarea:hover,
#bulk-register > textarea:focus {
  border: solid 3px #02a16a;
  background-color: #efefef;
}

#regist-one {
  width: 30%;
  height: 45%;
  max-width: none;
  background-color: transparent;
  align-self: center;
}

#regist-one > .input-field {
  height: 11%;
}

.roles {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 85%;
}

.role {
  display: flex;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

#regist-one-button {
  display: none;
}

#bulk-register-button,
#register-one-submit-button,
#register-one-popup-submit-button {
  height: 55px;
}

@media only screen and (max-width: 760px) {
  #bulk-register {
    width: 100%;
  }

  #regist-one {
    display: none;
  }

  #regist-one-button {
    display: initial;
  }
}
