.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vertex-text {
	font-size: 20px;
	overflow-wrap: break-word;
	border: solid 2px;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	background: orange;
}